*{
    margin: 0;
    padding: 0;
    /* border: 2pt red solid; */
}
body {
    background-image: url("../assets/bg.png");
    background-size: 110vw 140vh;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
header {
    width: 70vw;
    height: 10vh;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}
#findheader {
    height: 6vh;
}
#logo {
    font-weight: 600;
}
.hero {
    margin-top: 5vh;
}
#herotable {
    width: 70vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}
td {
    width: 50%;
}
#fps {
    font-weight: 600;
    font-size: 3rem;
}
#wbs {
    font-weight: 600;
    font-size: 2rem;
}
.right {
    background-color: #b0f0f8;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 15px;
    border: 5px solid #028090;
}
.btndiv {
    display: flex;
    justify-content: center;
}
#separator {
    width: 100%;
    height: 5px;
    background-color: #028090;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
button {
    background-color: #028090;
    font-family: 'Poppins';
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 1rem;
    color: azure;
    width: 80%;
    height: 7vh;
    margin-left: auto;                                                                                                                                                                  
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.promptinfo {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}
#inputdiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
#address {
    width: 55%;
    height: 6vh;
    margin-left: auto;
    font-size: medium;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.75rem;
    font-family: 'Poppins';
    margin-right: auto;
}
#map {
    height: 80vh;
    border-radius: 10px;
    border: 4px solid #028090;
    width: 40vw;
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
}
.loccontainer {
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    max-height: 50vh;
    height: fit-content;
    background-color: none;
    overflow-y: scroll;
}
#findtable {
    width: 100vw;
}
#findtd {
    width: 50%;
}
#loctable {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10rem;
}
.loccard {
    width: 95%;
    height: 8vh;
    margin-top: 0.5rem;
    border-style: solid;
    border-width: 4px;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
}
.cardcontainer {
    border-radius: 5rem;
    
}
.redcard {
    border-color: #C0392B;
}
.greencard {
    border-color: #27AE60;
}
.orangecard {
    border-color: #e67e22;
}
.textspan {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
}
.cardimg {
    height: 60%;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
#creditshead {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10vh;
}
#creditstext {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    font-weight: 600;
}