<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/css/900.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        Team <span id="logo">ROMAIN</span>
    </header>
    <div class="hero">
        <div class="hero-content">
            <h1>Something went wrong...</h1>
            <p>
                Our application encountered an error. Try the following:
                <ul>
                    <li>Try a valid destination in the input</li>
                    <li>Try including the city name in the query</li>
                    <li><a href="/">Redirect to the home page and try the above</a></li>
                </ul>
            </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>